page-login {

    .item-inner {
        border-bottom: 1px solid #dedede !important;
    }

    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }
   
    .login-box {
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
    }
}
